#notificationsContainer div{
    padding: 5px 20px;
    padding-bottom: 20px;
}

#notificationsContainer > .notificationsItem{
    padding-left: 0px;
}

#notificationsContainer .MuiBadge-root{
    width: 100%;
}

#notificationsContainer .paperContainer{
    background-color: #DCDDE0;
    width: 100%;
}

#notificationsContainer h3{
    margin-bottom: 7px;
}

.paperContainer > div{
    display: inline-flex;
    float: right;
}

#dateNot{
    margin-top: 15px;
}

#notificationsContainer .MuiBadge-dot {
    height: 15px;
    padding: 0;
    min-width: 15px;
    border-radius: 10px;
}
