
html, body {
  height: 100%;
}

#root{
  height: 100%;
}

.root{
  display: flex;
}

.content{
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
  background-color:#F0F1F6;
}

.drawerWraper{
  position: relative;
  white-space: nowrap;
  width: 240px;
  background-color: #fff;
}

.container{
  width: 100%;
}

#container-position{
  position: relative;
  display: inline-block;
  padding: 0 3%;
  height: calc(100vh - 180px);
}

.content > .MuiContainer-maxWidthLg{
  max-width: 100%;
}

.logoText{
  color: rgb(15, 117, 133);
  display: flex;
  align-items: center;
  padding: 12px 8px 0px 16px;
}

.logoTextColor{
  color: rgb(15, 117, 133);
}

.copyright{
  margin: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 240px;
}