.contextRoot{
    float: right;
    margin: 20px;
    height: 95px;
}

div.contextRoot > div{
    display: flex;
    height: 60px;
    line-height: 30px;
}

div.contextRoot p{
    text-align: center;
    margin-top: 20px;
}

div span{
    margin: 0 8px;
}

p{
    font-weight: bold;
}

#backDrop{
    height:100%;
}
