.backViewRead p{
    margin: 0 0;
}

.editProfileButtonWrapper span, .exitButtonWrapper span{
    font-weight: bold;
}

.exitButtonWrapper{
    float: right;
}

#editProfileGrid{
    display: flex;
    align-items: center;
}

#cancelButton{
    margin-left: 5px;
}

.imageContainer{
    display: inline-flex;
}.backViewRead p{
    margin: 0 0;
}

#editProfileGrid{
    display: flex;
    align-items: center;
}

#cancelButton{
    margin-left: 5px;
}

.imageContainer{
    display: inline-flex;
}

#edit-profile-form .changePassPaper{
    padding: 10px;
    border-radius: 20px;
}

#changePassButtonWrapper{
    text-align: center;
    margin-top: 7px;
}

#changePassButtonWrapper > .changePass{
    border-radius: 20px;
}

#changePassButtonWrapper > button{
    text-transform: none;
}

.changePassPaper > h3{
    color: #0f7484;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
}

#changePassSpan{
    text-decoration: underline;
    cursor: pointer;
    color: #0f7387;
}