html, body {
    height: 100%;
}

.buttonWrapper{
    width: 90%;
    text-align: left;
    margin: 10px 0;
}

.recoverButtonWrapper{
    text-align: center;
    margin: 10px 0;
}

.buttonWrapper > .registerProfessional, .recoverButtonWrapper > .registerProfessional {
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px 35px;
}

.registerProfessional > span, .regLogButton > span{
    font-weight: bold;
}

#authLogoText{
    width: 25%;
    float: left;
    padding-left: 25px;
}

.regLogButtonCont{
    width: 25%;
    float: right;
    text-align: right;
    padding: 10px 25px 30px 0px;
    margin-top: 20px;
}

#authLogoText > h2{
    margin: 0px;
}

.regLogButtonCont > .regLogButton{
    border-radius: 20px;
    border: 1px solid rgb(155, 155, 155);
    background-color: #fff;
}

.image_to{
    float: right;
    width: 80%;
    margin: auto;
    border-right: 1px solid rgb(204, 204, 204);
}


#authContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#authContent #navBar {
    height: 120px;
}

#authContent #imageAndForm {
    flex: 1 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forms{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#authContent #footerContainer {
    height: 120px;
    width: 100%;
}

#footerContainer .footer{
    position: fixed;
    bottom: 0;
    width: 50%;
    text-align: center;
}

.recoverPass{
    float: right;
    margin: 10px;
}

.recoverPass a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(114, 114, 114);
}

.footerImage{
    height: 15%;
    width: 15%;
    margin: 15px;
}

div > .registoTitle{
    margin-bottom: 15px;
    color: rgb(114, 114, 114);
}

.recoverForm h3, .recoverForm p{
    text-align: center;
}

.recoverForm h3{
    color: #0f7484;
}

.recoverForm p{
    font-weight: normal;
}

#reset_pass_img{
    width:30%
}

.resetImgCont{
    text-align: center;
}