#infoTableHeader{
    color: #fff;
}

.yearSpace{
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

.tableContainer{
    display: flex;
}

.arrow{
    margin: auto 0;
}

.noDataWarning{
    width: 100%;
    height: 100%;
    display: flex;
}

.MuiTableRow-root .positivePercentage{
    color: green;
    font-weight: bold;
}

.MuiTableRow-root .negativePercentage{
    color: red;
    font-weight: bold;
}

