.contentWrapper svg{
    color:#0f7387;
}

.migraineDetails{
    margin: 0 5%;
}

.migraineDetails p{
    margin: 8px 0px;
}

.migraineDetailsTitle{
    margin: 10px auto;
    text-align: center;
}

.consultaTitle, .consultaWrapper svg{
    color:#E8A25D;
}

.enxaquecaTitle, .enxaquecaWrapper svg{
    color:#0f7387;
}

.cefaleiaTensaoTitle, .cefaleiaTensaoWrapper svg{
    color: #74BBED;
}

.calendarCont{
    display: inline-flex;
    width: 100%;
}

.calendar{
    width: 80%;
}

.legendas{
    padding-top: 10px;
    padding-left: 30px;
}

#cefaleiaTensao, #enxaqueca, #consulta{
    border-radius: 10px;
    width: 25px;
    height: 25px;
}

#cefaleiaTensao{
    background-color: #74BBED;
}

#enxaqueca{
    background-color: #0f7387;
}

#consulta{
    background-color: #E8A25D;
}

.legandaCont{
    display: flex;
    margin-bottom: 10px;
}

.legandaCont > span{
    margin-top: 3px;
    margin-left: 10px;
}
