.backView{
    background-color: #d4d5d8;
    padding:20px 45px;
    border-radius: 15px;
    
}

.backViewRead{
    background-color: #fff;
    padding:20px 50px;
    border-radius: 15px;
}

span{
    font-weight: normal;
}

.treatmentsDetails{
    margin-bottom: 20px;
}

.buttonWrapper .MuiButton-containedSecondary{
    background-color: #0f7387;
}

.addPatient, .readPatientInfo{
    border-bottom: 1px solid;
}

.readPatientInfo p, .tratamentoComorbilidades p{
    margin: 7px 0;
}

.backViewRead .addPatientSubtitle{
    margin: 15px 0;
}

.formulario > .personalData{
    border-bottom: 1px solid #a7a6a6;
    padding-bottom: 14px;
}

.addPatientSubtitle{
    color: #0f7387;
    font-size: 15px;
}

.addPatient{
    margin-bottom: 0px;
}

.innerItem > .MuiFormGroup-root{
    flex-direction: row;
}

.MuiGrid-item > .radioOptions{
    flex-direction: row;
    float: right;
}

.dateField .MuiOutlinedInput-root{
    border-radius: 20px;
}

.addButtonContainer{
    float: right;
}

.addButtonContainer > button{
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px 15px;
    border-radius: 20px;
}

.addButtonContainer > .MuiButton-containedSecondary{
    background-color: #0f7387;
}

.addButtonContainer .MuiButton-containedSecondary{
    background-color: #0f7387;
}

.addButtonContainer .MuiButton-containedSecondary:hover{
    background-color: #0f7387;
}

#cancelButton{
    background-color: #626263;
}